<script>
  import { page } from '$app/stores'
  import { PUBLIC_APP_NAME } from '$env/static/public'
</script>

<svelte:head>
  <title>Error | {PUBLIC_APP_NAME}</title>
</svelte:head>

<h1>Error</h1>
<p>{$page.error.message}</p>
