@import '@fontsource/inter';
:root {
  --text-color: rgba(244, 244, 245, 1);
  --secondary-text-color: rgba(24, 24, 27, 1);
  --link-color: rgba(34, 197, 94, 1);
  --link-color-light: rgba(134, 239, 172, 1);
  --blur: 1.5px; 
  --font-body: Inter, sans-serif;
  font-family: var(--font-body);
}
html {
  user-select: none;
}
img:active {
  pointer-events: none;
}
button, a {
  cursor: default;
}
h1 {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin-bottom: .5rem;
}
h2 {
  font-weight: 400;
  font-size: 1.3rem;
}
input[type='text'],
input[type='email'],
input[type='password'],
textarea {
  background-color: rgb(24 24 27);
  padding:4px;
  padding-left: 8px;
}
fieldset {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.75rem;
}
form button {
  text-transform: capitalize;
  display: block;
}
form button.confirm {
  text-transform: uppercase;
  width: 100%;
  padding: 10px;
  border: solid 4px var(--link-color-light);
}
form button.confirm:hover {
  background-color: var(--link-color-light);
  color: var(--secondary-text-color);
}

form button.confirm:disabled {
  border: solid 4px rgb(252 165 165);
}
